* { box-sizing: border-box; }

.page {
  background-color: whitesmoke;
  height: 100vh;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-template-rows: repeat(3, 170px);
  grid-gap: 0.5em;
  background-color: black;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-cell {
  background-color: whitesmoke;
  border: none;
  font-size: 3rem;
}

.game-cell:focus {
  outline: none;
}

.modal-body-end {
  font-size: 2rem;
  color: green;
  padding: 7em 1em;
  text-align: center;
}

._indicator {
  position: absolute;
  top: 2px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: var(--info);
}
